/venv/
/.idea/dbnavigator.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/rGraphicsSettings.xml
/.idea/rAvailablePackageCache.xml
/.idea/misc.xml
/.idea/rpackages.xml
/.idea/rSettings.xml
/.idea/modules.xml
/.idea/vcs.xml
.Rproj.user
*.txt
*.csv
*.RData
*.Rhistory
*.Rbuildignore
*.Rproj
._*
inst/doc
